<h1>Sessions</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- search a session -->
        <tr>
            <td><input form="session-row-search" name="name" style="width: 100%;" autofocus hx-trigger=""
                    placeholder="Search" />
            </td>
            <td><input form="session-row-search" name="start" type="date" style="width: 100%;" autofocus
                    hx-trigger="" />
            </td>
            <td><input form="session-row-search" name="end" type="date" style="width: 100%;" autofocus hx-trigger="" />
            </td>
            <td>
                <form id="session-row-search" hx-get="/session" hx-target="#page" hx-swap="innerHTML"
                    _="on htmx:afterRequest reset() me">
                    <button class="btn" type="submit">Search a session</button>
                </form>
            </td>
        </tr>

        <!-- Create a session -->
        <tr>
            <td><input form="session-add" style="width: 100%;" name="name" /></td>
            <td><input type="date" form="session-add" style="width: 100%;" name="start" /></td>
            <td><input type="date" form="session-add" style="width: 100%;" name="end" /></td>
            <td>
                <form id="session-add" hx-post="/session" hx-target="closest tr" hx-swap="afterend"
                    _="on htmx:afterRequest reset() me">
                    <button class="btn" type="submit">Add a session</button>
                </form>
            </td>
        </tr>

        {{ define "session-row-new"}}
        <tr id="session-row-{{ .ID }}">
            <td style="background-color: lightGreen">{{ .Name }}</td>
            <td style="background-color: lightGreen">{{ Date .Start }}</td>
            <td style="background-color: lightGreen">{{ Date .End }}</td>
            <td style="background-color: lightGreen">
                <button class="btn" hx-get="/session/session-row-edit/{{ .ID }}" hx-target="closest tr"
                    hx-swap="outerHTML">
                    Edit
                </button>
                <button class="btn" hx-get="/session/confirm/{{ .ID }}" hx-target="#dialog"
                    hx-swap="beforeend">Delete</button>
            </td>
        </tr>
        {{ end }}

        <!-- List sessions -->
        {{ range $session := . }}
        {{ block "session-row" . }}
        <tr id="session-row-{{ .ID }}">
            <td>{{ .Name }}</td>
            <td>{{ Date .Start }}</td>
            <td>{{ Date .End }}</td>
            <td>
                <button class="btn" hx-get="/session/session-row-edit/{{ .ID }}" hx-target="closest tr"
                    hx-swap="outerHTML">Edit</button>
                <button class="btn" hx-get="/session/confirm/{{ .ID }}" hx-target="#dialog"
                    hx-swap="beforeend">Delete</button>
            </td>
        </tr>
        {{ end }}
        {{ end }}



        <!-- edit form -->
        {{ define "session-row-edit" }}
        <tr id="session-row-{{ .ID }}">
            <td><input form="session-form-{{ .ID }}" name="name" style="width: 100%;" autofocus hx-trigger=""
                    value="{{ .Name }}" />
            </td>
            <td><input form="session-form-{{ .ID }}" type="date" name="start" style="width: 100%;" hx-trigger=""
                    value="{{ String .Start }}" /></td>
            <td><input form="session-form-{{ .ID }}" type="date" name="end" style="width: 100%;" hx-trigger=""
                    value="{{ String .End }}" /></td>
            <td>
                <form hx-put="/session/{{ .ID }}" id="session-form-{{ .ID }}" hx-target="closest tr"
                    hx-swap="outerHTML">
                    <button class="btn" hx-get="/session/{{ .ID }}" hx-target="closest tr" hx-swap="outerHTML"
                        type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ define "session-delete-confirm" }}
<div class="backdrop" _="on keydown[key is 'Escape'] or click[target is me] remove me"
    style="display: flex; align-items: center; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.2);">
    <dialog
        style="background-color: lightskyblue; border-radius: .5rem; border: 1px solid black; box-shadow: .3rem .3rem 1rem 1rem rgba(0, 0, 150, 0.2)"
        open>
        <p>Are you sure you want to delete <strong>{{ .Name }}</strong>?</p>

        <div style="display: flex; justify-content: end; gap: 1rem;">
            <button class="btn" autofocus type="button" _="on click remove the closest .backdrop">Cancel</button>
            <button class="btn btn-primary" hx-delete="/session/{{ .ID }}" _="on click remove the closest .backdrop"
                hx-target="#session-row-{{ .ID }}" hx-swap="outerHTML">Delete {{.Name }}</button>
        </div>
    </dialog>
</div>
{{ end }}