<h1>Students</h1>

<table>
    <thead>
        <tr>
            <th style="width: 10rem;">First name</th>
            <th style="width: 10rem;">Last name</th>
            <th style="width: 10rem;">Email address</th>
            <th style="width: 10rem;">Phone number</th>
            <th style="width: 10rem;"></th>
        </tr>
    </thead>
    <tbody>
        <!-- search students -->
        <tr>
            <td colspan="4"><input form="student-row-search" name="search" style="width: 100%;" autofocus hx-trigger=""
                    placeholder="Search" />
            </td>
            <td>
                <form id="student-row-search" hx-get="/student" hx-target="#page" hx-swap="innerHTML"
                    _="on htmx:afterRequest reset() me">
                    <button class="btn" type="submit">Search a student</button>
                </form>
            </td>
        </tr>

        <!-- add a student -->
        <tr>
            <td><input form="student-form-add" name="firstname" style="width: 100%;" hx-trigger="" placeholder="Add" />
            </td>
            <td><input form="student-form-add" name="lastname" style="width: 100%;" hx-trigger="" placeholder="Add" />
            </td>
            <td><input form="student-form-add" name="email" style="width: 100%;" hx-trigger="" placeholder="Add" /></td>
            <td><input form="student-form-add" name="phone" style="width: 100%;" hx-trigger="" placeholder="Add" /></td>
            <td>
                <form hx-post="/student" id="student-form-add" hx-target="closest tr" hx-swap="afterend"
                    _="on htmx:afterRequest reset() me">
                    <button class="btn" type="submit">Add a student</button>
                </form>
            </td>
        </tr>

        <!-- list students -->
        {{ range $student := . }}
        {{ block "student-row" .}}
        <tr id="student-row-{{ .ID }}">
            <td>{{ .Firstname }}</td>
            <td>{{ .Lastname }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Phone }}</td>
            <td>
                <button class="btn" hx-get="/student/student-row-edit/{{ .ID }}" hx-target="closest tr"
                    hx-swap="outerHTML">
                    Edit
                </button>
                <button class="btn" hx-get="/student/confirm/{{ .ID }}" hx-target="#dialog"
                    hx-swap="beforeend">Delete</button>
            </td>
        </tr>
        {{ end }}
        {{ end }}

        <!-- edit form -->
        {{ define "student-row-edit" }}
        <tr>
            <td><input form="student-form-{{ .ID }}" name="firstname" style="width: 100%;" autofocus
                    form="student-table-form" hx-trigger="" value="{{ .Firstname }}" />
            </td>
            <td><input form="student-form-{{ .ID }}" name="lastname" style="width: 100%;" form="student-table-form"
                    hx-trigger="" value="{{ .Lastname }}" /></td>
            <td><input form="student-form-{{ .ID }}" name="email" style="width: 100%;" form="student-table-form"
                    hx-trigger="" value="{{ .Email }}" /></td>
            <td><input form="student-form-{{ .ID }}" name="phone" style="width: 100%;" form="student-table-form"
                    hx-trigger="" value="{{ .Phone }}" /></td>
            <td>
                <form hx-put="/student/{{ .ID }}" id="student-form-{{ .ID }}" hx-target="closest tr"
                    hx-swap="outerHTML">
                    <button class="btn" hx-get="/student/{{ .ID }}" hx-target="closest tr" hx-swap="outerHTML"
                        type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </td>
        </tr>
        {{ end }}

        {{ define "student-row-new"}}
        <tr id="student-row-{{ .ID }}">
            <td style="background-color: lightGreen">{{ .Firstname }}</td>
            <td style="background-color: lightGreen">{{ .Lastname }}</td>
            <td style="background-color: lightGreen">{{ .Email }}</td>
            <td style="background-color: lightGreen">{{ .Phone }}</td>
            <td style="background-color: lightGreen">
                <button class="btn" hx-get="/student/student-row-edit/{{ .ID }}" hx-target="closest tr"
                    hx-swap="outerHTML">
                    Edit
                </button>
                <button class="btn" hx-get="/student/confirm/{{ .ID }}" hx-target="#dialog"
                    hx-swap="beforeend">Delete</button>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ define "student-delete-confirm" }}
<div class="backdrop" _="on keydown[key is 'Escape'] or click[target is me] remove me"
    style="display: flex; align-items: center; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.2);">
    <dialog
        style="background-color: lightskyblue; border-radius: .5rem; border: 1px solid black; box-shadow: .3rem .3rem 1rem 1rem rgba(0, 0, 150, 0.2)"
        open>
        <p>Are you sure you want to delete <strong>{{ .Firstname }} {{ .Lastname }}</strong>?</p>

        <div style="display: flex; justify-content: end; gap: 1rem;">
            <button class="btn" autofocus type="button" _="on click remove the closest .backdrop">Cancel</button>
            <button class="btn btn-primary" hx-delete="/student/{{ .ID }}" _="on click remove the closest .backdrop"
                hx-target="#student-row-{{ .ID }}" hx-swap="outerHTML">Delete {{
                .Firstname }}</button>
        </div>
    </dialog>
</div>
{{ end }}