<table>
    <thead>
        <tr>
            <th style="width: 10rem;">First name</th>
            <th style="width: 10rem;">Last name</th>
            <th style="width: 10rem;">Email address</th>
            <th style="width: 10rem;">Phone number</th>
            <th style="width: 10rem;"></th>
        </tr>
    </thead>
    <tbody>
        <!-- SEARCH -->
        <tr>
            <td colspan="4"><input form="student-form-search" name="search" style="width: 100%;" autofocus hx-trigger=""
                    placeholder="Search" />
            </td>
            <td>
                <form id="student-form-search" hx-get="/student" hx-target="closest table" hx-swap="outerHTML"
                    _="on htmx:afterRequest reset() me">
                    <button type="submit">Search a student</button>
                </form>
            </td>
        </tr>
        <!-- ADD -->
        <tr>
            <td><input form="student-form-add" name="firstname" style="width: 100%;" hx-trigger="" placeholder="Add" />
            </td>
            <td><input form="student-form-add" name="lastname" style="width: 100%;" hx-trigger="" placeholder="Add" />
            </td>
            <td><input form="student-form-add" name="email" style="width: 100%;" hx-trigger="" placeholder="Add" /></td>
            <td><input form="student-form-add" name="phone" style="width: 100%;" hx-trigger="" placeholder="Add" /></td>
            <td>
                <form hx-post="/student" id="student-form-add" hx-target="closest tr" hx-swap="afterend"
                    _="on htmx:afterRequest reset() me">
                    <button type="submit">Add a student</button>
                </form>
            </td>
        </tr>

        <!-- LIST -->
        {{ range $student := . }}
        {{ block "inline-student" .}}
        <tr id="inline-student-{{ .Id }}">
            <td>{{ .Firstname }}</td>
            <td>{{ .Lastname }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Phone }}</td>
            <td>
                <button hx-get="/student/inline-form/{{ .Id }}" hx-target="closest tr" hx-swap="outerHTML">
                    Edit
                </button>
                <button hx-get="/student/confirm/{{ .Id }}" hx-target="#dialog" hx-swap="beforeend">Delete</button>
            </td>
        </tr>
        {{ end }}
        {{ end }}

        {{ define "inline-form" }}
        <tr>
            <td><input form="student-form-{{ .Id }}" name="firstname" style="width: 100%;" autofocus
                    form="student-table-form" hx-trigger="" value="{{ .Firstname }}" />
            </td>
            <td><input form="student-form-{{ .Id }}" name="lastname" style="width: 100%;" form="student-table-form"
                    hx-trigger="" value="{{ .Lastname }}" /></td>
            <td><input form="student-form-{{ .Id }}" name="email" style="width: 100%;" form="student-table-form"
                    hx-trigger="" value="{{ .Email }}" /></td>
            <td><input form="student-form-{{ .Id }}" name="phone" style="width: 100%;" form="student-table-form"
                    hx-trigger="" value="{{ .Phone }}" /></td>
            <td>
                <form hx-put="/student/{{ .Id }}" id="student-form-{{ .Id }}" hx-target="closest tr"
                    hx-swap="outerHTML">
                    <button hx-get="/student/{{ .Id }}" hx-target="closest tr" hx-swap="outerHTML"
                        type="button">Cancel</button>
                    <button type="submit">Save</button>
                </form>
            </td>
        </tr>
        {{ end }}

        {{ define "inline-new-student"}}
        <tr id="inline-student-{{ .Id }}">
            <td style="background-color: lightGreen">{{ .Firstname }}</td>
            <td style="background-color: lightGreen">{{ .Lastname }}</td>
            <td style="background-color: lightGreen">{{ .Email }}</td>
            <td style="background-color: lightGreen">{{ .Phone }}</td>
            <td style="background-color: lightGreen">
                <button hx-get="/student/inline-form/{{ .Id }}" hx-target="closest tr" hx-swap="outerHTML">
                    Edit
                </button>
                <button hx-get="/student/confirm/{{ .Id }}" hx-target="#dialog" hx-swap="beforeend">Delete</button>
            </td>
        </tr>
        {{ end }}
    </tbody>

    {{ define "student-delete-confirm" }}
    <dialog
        style="background-color: lightskyblue; border-radius: .5rem; border: 1px solid black; box-shadow: .3rem .3rem 1rem 1rem rgba(0, 0, 150, 0.2)"
        open>
        <p>Are you sure you want to delete <strong>{{ .Firstname }} {{ .Lastname }}</strong>?</p>

        <div style="display: flex; justify-content: end; gap: 1rem;">
            <button autofocus type="button" _="on click remove the closest <dialog/>">Cancel</button>
            <button hx-delete="/student/{{ .Id }}" _="on click remove the closest <dialog/>"
                hx-target="#inline-student-{{ .Id }}" hx-swap="outerHTML">Delete {{
                .Firstname }}</button>
        </div>
    </dialog>
    {{ end }}
</table>